html {
    scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-bg {
  background-image: url('../imgs/repufafa.png');
}
@media (max-width: 768px) {
  .hero-bg {
    background-image: url('../imgs/repufafabackground.png');
  }
  .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
}